
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

i {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.nav-item .active {
  font-weight: 700;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fixed {
  position: fixed;
}

.loader {
  border: 8px solid #e6e6e6;
  border-top: 8px solid $blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 1em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.has-error {
  color: darkred;
}

.navbar-laravel {
  background-color: #005DAB;
  color: white !important;
}

.app-name {
  color: white !important;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
}

#form-nav {
  padding-left: 0;
}